 <!-- START PAGE CONTAINER -->
 <%= stylesheet_link_tag 'admin', media: 'all' %>
 <%= csrf_meta_tags %>

  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'>
<% if @l == :fr %>
  <% flash.each do |name,msg|%>
                <%= content_tag :div, msg, class: "alert alert-danger flash-popup", role: "alert" %>
                <% end %>
        <div class="page-container">
            
            <!-- START PAGE SIDEBAR -->
            <%= render 'layouts/navbar' %>
            <!-- PAGE CONTENT -->
            <div class="page-content">
                
                <!-- START X-NAVIGATION VERTICAL -->
                <ul class="x-navigation x-navigation-horizontal x-navigation-panel">
                    <!-- TOGGLE NAVIGATION -->
                    <li class="xn-icon-button">
                        <a href="#" class="x-navigation-minimize"><span class="fa fa-dedent"></span></a>
                    </li>
                    <!-- END TOGGLE NAVIGATION -->
                    <!-- SEARCH -->
                      
                    <!-- END SEARCH -->
                    <div class="info col-md-2 col-sm-2 col-md-offset-8">
          <ul class="menu-top navbar-right hidden-xs">
            <li class="divider"><%= link_to t('menu.languages.fr'), change_locale_path(:fr) %></li>
            <li ><%= link_to t('menu.languages.ar'), change_locale_path(:ar) %></li>
          </ul><!--//menu-top-->
          <br/>

        </div>
                    <!-- SIGN OUT -->
                    <li class="xn-icon-button pull-right">
                        <a href="#" class="mb-control" data-box="#mb-signout"><span class="fa fa-sign-out"></span></a>
                                                
                    </li> 
                    <!-- END SIGN OUT -->
                    <!-- MESSAGES -->
                   
                    <!-- END MESSAGES -->
                    <!-- TASKS -->
                    
                    <!-- END TASKS -->
                </ul>
                <!-- END X-NAVIGATION VERTICAL -->                     

                <!-- START BREADCRUMB -->
                <ul class="breadcrumb">
                    <li><%= link_to "domicile", admin_path %></li>                    
                    <li class="active">Tableau de bord</li>
                </ul>
                <!-- END BREADCRUMB -->  
                <div class="page-content-wrap">
                 <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                        <div class="panel-heading">
                                    <h3 class="panel-title">DES POSTES</h3>
                                    <div class="btn-group pull-right">
                                    <%= link_to "Ajouter Poster",admin_post_new_path, class: "btn btn-primary" %>
                                    
                                   
                                   
                                        
                                    </div>                                    
                                    
                                </div>
                                <div class="panel-body">
                                    <table id="customers2" class="table datatable">
                                        <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>TITRE</th>
                                                <th>CORPS</th>
                                                <th>PUBLIÉ</th>
                                                <th>CRÉÉ PAR</th>
                                                <th>ACTION</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        <% @posts.each do |post| %>
                                            <tr>
                                                <td><%= post.id %></td>
                                                <td><%= post.title %></td>
                                                <td><%= post.body %></td>
                                                <td><% if post.published? %>OUI<% else %>NON<% end %></td>
                                                <td><%= post.user.email if post.user %></td>
                            <td> <%= link_to admin_post_edit_path(id: post.id), class: "btn btn-default btn-rounded btn-sm" do %>
                            <span class="fa fa-pencil"></span>
                            <% end %>
                            <%= link_to post, method: :delete,data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-rounded btn-sm" do %>
                            <span class="fa fa-times"></span>
                            <% end %>
                            </td>
                                            </tr>
                                            <% end %>
                                            
                                </tbody>
                                    </table>                                    
                                    
                                </div>
                        </div>
                    </div>
                 </div>
                </div>                   
             </div>
             </div>

                   
                   
               

        <!-- MESSAGE BOX-->
        <%= render 'logout' %>
        <% else %>
        <% flash.each do |name,msg|%>
                <%= content_tag :div, msg, class: "alert alert-danger flash-popup", role: "alert" %>
                <% end %>
        <div class="page-container">
            
            <!-- START PAGE SIDEBAR -->
            <%= render 'layouts/navbar' %>
            <!-- PAGE CONTENT -->
            <div class="page-content">
                
                <!-- START X-NAVIGATION VERTICAL -->
                <ul class="x-navigation x-navigation-horizontal x-navigation-panel">
                    <!-- TOGGLE NAVIGATION -->
                    <li class="xn-icon-button">
                        <a href="#" class="x-navigation-minimize"><span class="fa fa-dedent"></span></a>
                    </li>
                    <!-- END TOGGLE NAVIGATION -->
                    <!-- SEARCH -->
                      
                    <!-- END SEARCH -->
                    <div class="info col-md-2 col-sm-2 col-md-offset-8">
          <ul class="menu-top navbar-right hidden-xs">
            <li class="divider"><%= link_to t('menu.languages.fr'), change_locale_path(:fr) %></li>
            <li ><%= link_to t('menu.languages.ar'), change_locale_path(:ar) %></li>
          </ul><!--//menu-top-->
          <br/>

        </div>
                    <!-- SIGN OUT -->
                    <li class="xn-icon-button pull-right">
                        <a href="#" class="mb-control" data-box="#mb-signout"><span class="fa fa-sign-out"></span></a>
                                                
                    </li> 
                    <!-- END SIGN OUT -->
                    <!-- MESSAGES -->
                   
                    <!-- END MESSAGES -->
                    <!-- TASKS -->
                    
                    <!-- END TASKS -->
                </ul>
                <!-- END X-NAVIGATION VERTICAL -->                     

                <!-- START BREADCRUMB -->
                <ul class="breadcrumb">
                    <li><%= link_to "الصفحة الرئيسية", admin_path %></li>                    
                    <li class="active">لوحة القيادة</li>
                </ul>
                <!-- END BREADCRUMB -->  
                <div class="page-content-wrap">
                 <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                        <div class="panel-heading">
                                    <h3 class="panel-title">الوظائف</h3>
                                    <div class="btn-group pull-right">
                                    <%= link_to "اضافة",admin_post_new_path, class: "btn btn-primary" %>
                                    
                                   
                                   
                                        
                                    </div>                                    
                                    
                                </div>
                                <div class="panel-body">
                                    <table id="customers2" class="table datatable">
                                        <thead>
                                            <tr>
                                                <th>هوية شخصية</th>
                                                
                                                <th>عنوان</th>
                                                <th>الجسم</th>
                                                <th>المنشورة</th>
                                                <th>يخلق ب</th>
                                                <th>عمل</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        <% @posts.each do |post| %>
                                            <tr>
                                                <td><%= post.id %></td>
                                                <td><%= post.title %></td>
                                                <td><%= post.body %></td>
                                                <td><% if post.published? %>نعم فعل<% else %>لا<% end %></td>
                                                <td><%= post.user.email if post.user %></td>
                            <td> <%= link_to admin_post_edit_path(id: post.id), class: "btn btn-default btn-rounded btn-sm" do %>
                            <span class="fa fa-pencil"></span>
                            <% end %>
                            <%= link_to post, method: :delete,data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-rounded btn-sm" do %>
                            <span class="fa fa-times"></span>
                            <% end %>
                            </td>
                                            </tr>
                                            <% end %>
                                            
                                </tbody>
                                    </table>                                    
                                    
                                </div>
                        </div>
                    </div>
                 </div>
                </div>                   
             </div>
             </div>

                   
                   
               

        <!-- MESSAGE BOX-->
        <%= render 'logout' %>
        <% end %>
        <%= javascript_include_tag 'admin' %>