 <!-- START PAGE CONTAINER -->
 <%= stylesheet_link_tag 'admin', media: 'all' %>
 <%= csrf_meta_tags %>

  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'>
  <% if @l == :fr %>
  <% flash.each do |name,msg|%>
                <%= content_tag :div, msg, class: "alert alert-danger flash-popup", role: "alert" %>
                <% end %>
        <div class="page-container">
            
            <!-- START PAGE SIDEBAR -->
            <%= render 'layouts/navbar' %>
            <!-- PAGE CONTENT -->
            <div class="page-content">
                
                <!-- START X-NAVIGATION VERTICAL -->
                <ul class="x-navigation x-navigation-horizontal x-navigation-panel">
                    <!-- TOGGLE NAVIGATION -->
                    <li class="xn-icon-button">
                        <a href="#" class="x-navigation-minimize"><span class="fa fa-dedent"></span></a>
                    </li>
                    <!-- END TOGGLE NAVIGATION -->
                    <!-- SEARCH -->
                      <div class="info col-md-2 col-sm-2 col-md-offset-8">
          <ul class="menu-top navbar-right hidden-xs">
            <li class="divider"><%= link_to t('menu.languages.fr'), change_locale_path(:fr) %></li>
            <li ><%= link_to t('menu.languages.ar'), change_locale_path(:ar) %></li>
          </ul><!--//menu-top-->
          <br/>

        </div>
                    <!-- END SEARCH -->
                    <!-- SIGN OUT -->
                    <li class="xn-icon-button pull-right">
                        <a href="#" class="mb-control" data-box="#mb-signout"><span class="fa fa-sign-out"></span></a>
                                                
                    </li> 
                    <!-- END SIGN OUT -->
                    <!-- MESSAGES -->
                   
                    <!-- END MESSAGES -->
                    <!-- TASKS -->
                    
                    <!-- END TASKS -->
                </ul>
                <!-- END X-NAVIGATION VERTICAL -->                     

                <!-- START BREADCRUMB -->
                <ul class="breadcrumb">
                    <li><%= link_to "domicile", admin_path %></li>                    
                    <li class="active">UTILISATEURS</li>
                </ul>
                <!-- END BREADCRUMB -->  
                <div class="page-content-wrap">
                 <div class="row">
                        <div class="col-md-12">
                            
                            
                            <%= simple_form_for(@user,:url => admin_user_update_path(id: @user.id), :method => :put) do |f| %>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title"><strong>Modifier USER</strong></h3>
                                    <ul class="panel-controls">
                                        <li><a href="#" class="panel-remove"><span class="fa fa-times"></span></a></li>
                                    </ul>
                                </div>
                               
                                <div class="panel-body"> 
                                     
                                    
                                     <div class="form-group col-md-offset-2">
                                        <label class="col-md-1 col-xs-12 control-label ">EMAIL</label>
                                        <div class="col-md-6 col-xs-12">                                            
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                                <%= f.input :email,label: false, required: true,input_html: {class: "form-control"},wrapper: false%>
                                            </div>                                            
                                        </div>
                                    </div>
                                    <br><br>
                                    <div class="form-group col-md-offset-2">
                                        <label class="col-md-1 col-xs-12 control-label ">MOT DE PASSE</label>
                                        <div class="col-md-6 col-xs-12">                                            
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                                <%= f.input :password,label: false, required: true,input_html: {class: "form-control"},wrapper: false,hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length)%>
                                            </div>                                            
                                        </div>
                                    </div>
                                    <br><br>
                                    <div class="form-group col-md-offset-2">
                                        <label class="col-md-1 col-xs-12 control-label ">CONFIRMEZ LE MOT DE PASSE</label>
                                        <div class="col-md-6 col-xs-12">                                            
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                                <%= f.input :password_confirmation,label: false, required: true,input_html: {class: "form-control"},wrapper: false%>
                                            </div>                                            
                                        </div>
                                    </div>
                                    <br><br>
                                    <div class="form-group col-md-offset-2">
                                        <label class="col-md-1 col-xs-12 control-label ">TYPE D'UTILISATEUR</label>
                                        <div class="col-md-6 col-xs-12">                                            
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                                <%= f.select(:user_type, ['admin','manager'], {}, { :class => 'form-control', }) %>
                                            </div>                                            
                                        </div>
                                    </div>
                                    
                                </div>
                                <div class="panel-footer">
                                    <button class="btn btn-default">Forme claire</button>                                    
                                    <button class="btn btn-primary pull-right">Soumettre</button>
                                </div>
                            </div>
                            <% end %>
                            
                        </div>
                    </div>  
                </div>                   
             </div>
             </div>

                   
                   
               

        <!-- MESSAGE BOX-->
        <%= render 'logout' %>
        <% else %>
        <% flash.each do |name,msg|%>
                <%= content_tag :div, msg, class: "alert alert-danger flash-popup", role: "alert" %>
                <% end %>
        <div class="page-container">
            
            <!-- START PAGE SIDEBAR -->
            <%= render 'layouts/navbar' %>
            <!-- PAGE CONTENT -->
            <div class="page-content">
                
                <!-- START X-NAVIGATION VERTICAL -->
                <ul class="x-navigation x-navigation-horizontal x-navigation-panel">
                    <!-- TOGGLE NAVIGATION -->
                    <li class="xn-icon-button">
                        <a href="#" class="x-navigation-minimize"><span class="fa fa-dedent"></span></a>
                    </li>
                    <!-- END TOGGLE NAVIGATION -->
                    <!-- SEARCH -->
                      <div class="info col-md-2 col-sm-2 col-md-offset-8">
          <ul class="menu-top navbar-right hidden-xs">
            <li class="divider"><%= link_to t('menu.languages.fr'), change_locale_path(:fr) %></li>
            <li ><%= link_to t('menu.languages.ar'), change_locale_path(:ar) %></li>
          </ul><!--//menu-top-->
          <br/>

        </div>
                    <!-- END SEARCH -->
                    <!-- SIGN OUT -->
                    <li class="xn-icon-button pull-right">
                        <a href="#" class="mb-control" data-box="#mb-signout"><span class="fa fa-sign-out"></span></a>
                                                
                    </li> 
                    <!-- END SIGN OUT -->
                    <!-- MESSAGES -->
                   
                    <!-- END MESSAGES -->
                    <!-- TASKS -->
                    
                    <!-- END TASKS -->
                </ul>
                <!-- END X-NAVIGATION VERTICAL -->                     

                <!-- START BREADCRUMB -->
                <ul class="breadcrumb">
                    <li><%= link_to "الصفحة الرئيسية", admin_path %></li>                    
                    <li class="active">المستخدمين</li>
                </ul>
                <!-- END BREADCRUMB -->  
                <div class="page-content-wrap">
                 <div class="row">
                        <div class="col-md-12">
                            
                            
                            <%= simple_form_for(@user,:url => admin_user_update_path(id: @user.id), :method => :put) do |f| %>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title"><strong>تحرير المستخدم</strong></h3>
                                    <ul class="panel-controls">
                                        <li><a href="#" class="panel-remove"><span class="fa fa-times"></span></a></li>
                                    </ul>
                                </div>
                               
                                <div class="panel-body"> 
                                     
                                    
                                     <div class="form-group col-md-offset-2">
                                        <label class="col-md-1 col-xs-12 control-label ">البريد الإلكتروني</label>
                                        <div class="col-md-6 col-xs-12">                                            
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                                <%= f.input :email,label: false, required: true,input_html: {class: "form-control"},wrapper: false%>
                                            </div>                                            
                                        </div>
                                    </div>
                                    <br><br>
                                    <div class="form-group col-md-offset-2">
                                        <label class="col-md-1 col-xs-12 control-label ">كلمه السر</label>
                                        <div class="col-md-6 col-xs-12">                                            
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                                <%= f.input :password,label: false, required: true,input_html: {class: "form-control"},wrapper: false,hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length)%>
                                            </div>                                            
                                        </div>
                                    </div>
                                    <br><br>
                                    <div class="form-group col-md-offset-2">
                                        <label class="col-md-1 col-xs-12 control-label ">تأكيد كلمة المرور</label>
                                        <div class="col-md-6 col-xs-12">                                            
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                                <%= f.input :password_confirmation,label: false, required: true,input_html: {class: "form-control"},wrapper: false%>
                                            </div>                                            
                                        </div>
                                    </div>
                                    <br><br>
                                    <div class="form-group col-md-offset-2">
                                        <label class="col-md-1 col-xs-12 control-label ">نوع المستخدم</label>
                                        <div class="col-md-6 col-xs-12">                                            
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                                <%= f.select(:user_type, ['admin','manager'], {}, { :class => 'form-control', }) %>
                                            </div>                                            
                                        </div>
                                    </div>
                                    
                                </div>
                                <div class="panel-footer">
                                    <button class="btn btn-default">نموذج واضح</button>                                    
                                    <button class="btn btn-primary pull-right">عرض</button>
                                </div>
                            </div>
                            <% end %>
                            
                        </div>
                    </div>  
                </div>                   
             </div>
             </div>

                   
                   
               

        <!-- MESSAGE BOX-->
        <%= render 'logout' %>
        <% end %>
        <%= javascript_include_tag 'admin' %>