<%= form_for(@page) do |f| %>
    <% if @page.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@page.errors.count, "error") %> prohibited this page from being saved:</h2>

          <ul>
            <% @page.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :name %><br>
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :content %><br>
      <%= f.text_area :content, id: "wysiwyg" %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>

<script>
  $('#wysiwyg').froalaEditor({
    key: "<%=ENV['FROALA']%>",
    heightMin: '200px',
    toolbarButtons: [
      'fullscreen', 'bold', 'italic', 'underline', 'strikeThrough', 'subscript', 'superscript', 'fontFamily', 'fontSize', '|',
      'color', 'emoticons', 'inlineStyle', 'paragraphStyle', '|',
      'paragraphFormat', 'align', 'formatOL', 'formatUL', 'outdent', 'indent', '-', 'insertLink', 'insertImage', 'insertVideo', 'insertFile', 'insertTable', '|',
      'quote', 'insertHR', 'undo', 'redo', 'clearFormatting', 'selectAll', 'html']
  })
</script>
