<%= render 'layouts/slider' %>


<%= render 'posts/latest_news' %>

<div class="row cols-wrapper">

  <div class="col-md-3">
    <%= render 'events' %>
  </div><!--//col-md-3-->

  <div class="col-md-6">
    <%= render 'cours' %>
    <%= render 'videos' %>
  </div>

  <div class="col-md-3">
    <%= render 'links' %>
    <%= render 'testimonials' %>
  </div><!--//col-md-3-->

</div><!--//cols-wrapper-->

<%= render 'layouts/logo_awards' %>

