<% if @l == :fr %>
    <div class="page-wrapper">
      <header class="page-heading clearfix">
        <h1 class="heading-title pull-left"><%= @post.title %></h1>

        <div class="breadcrumbs pull-right">
          <ul class="breadcrumbs-list">
            <li class="breadcrumbs-label">You are here:</li>
            <li><a href="<%= root_path %>">ACCEUIL</a><i class="fa fa-angle-right"></i></li>
            <li><a href="<%= posts_path %>">ACTUALITÉS</a><i class="fa fa-angle-right"></i></li>
            <li class="current"><%= @post.title %></li>
          </ul>
        </div><!--//breadcrumbs-->

      </header>

      <div class="page-content">
        <div class="row page-row">
          <div class="news-wrapper col-md-8 col-sm-7">
            <article class="news-item">
              <p class="meta text-muted">By: <a href="#"><%= @post.user.email %></a> | Posted on: <%= @post.published_at %></p>

              <p class="featured-image"><%= image_tag @post.image.url(:original), class: "img-responsive" %></p>
              <%= simple_format(@post.body, {}, sanitize: false) %>
            </article><!--//news-item-->
          </div><!--//news-wrapper-->

          <aside class="page-sidebar  col-md-3 col-md-offset-1 col-sm-4 col-sm-offset-1 col-xs-12">

            <%= render 'welcomes/events' %>

          </aside>

        </div><!--//page-row-->
      </div><!--//page-content-->
    </div><!--//page-->
<% else %>

    <div class="page-wrapper">
      <header class="page-heading clearfix">
        <h1 class="heading-title pull-left"><%= @post.title %></h1>

        <div class="breadcrumbs pull-right">
          <ul class="breadcrumbs-list">
            <li class="breadcrumbs-label">أنت هنا:</li>
            <li><a href="<%= root_path %>">الرئسيــة</a><i class="fa fa-angle-right"></i></li>
            <li><a href="<%= posts_path %>">أنباء</a><i class="fa fa-angle-right"></i></li>
            <li class="current"><%= @post.title %></li>

          </ul>
        </div><!--//breadcrumbs-->

      </header>

      <div class="page-content">
        <div class="row page-row">
          <div class="news-wrapper col-md-8 col-sm-7">
            <article class="news-item">
              <p class="meta text-muted">By: <a href="#"><%= @post.user.email %></a> | Posted on: <%= @post.published_at %></p>

              <p class="featured-image"><%= image_tag @post.image.url(:original), class: "img-responsive" %></p>
              <%= simple_format(@post.body, {}, sanitize: false) %>
            </article><!--//news-item-->
          </div><!--//news-wrapper-->

          <aside class="page-sidebar  col-md-3 col-md-offset-1 col-sm-4 col-sm-offset-1 col-xs-12">
            <%= render 'welcomes/events' %>
          </aside>

        </div><!--//page-row-->
      </div><!--//page-content-->
    </div><!--//page-->
<% end %>
