<h1>Images#new</h1>
<p>Find me in app/views/images/new.html.erb</p>





<%= form_for (@image), html: { multipart: true } do |f| %>
    <% if @image.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@image.errors.count, "error") %> prohibited this image from being saved:</h2>

          <ul>
            <% @image.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <div class="form-group title">
      <%= f.label :image_title %><br>
      <%= f.text_field :image_title, id: "title", class: "form-control", placeholder: "Title" %>
    </div><!--//form-group-->
    <div class="form-group body">
      <%= f.label :description %><br>
      <div id="edit">
        <%= f.text_area :description, id: "body", class: "form-control", placeholder: "Dody" %>
      </div>

      <%= f.file_field :image %>
    </div><!--//form-group-->
    <%= f.submit :class => "btn btn-theme" %>
<% end %>

