<section class="awards">
  <div id="awards-carousel" class="awards-carousel carousel slide">
    <div class="carousel-inner">
      <div class="item active">
        <ul class="logos">
          <li class="col-md-2 col-sm-2 col-xs-4">
            <%= image_tag("awards/award1.jpg") %>
          </li>
          <li class="col-md-2 col-sm-2 col-xs-4">
            <%= image_tag("awards/award2.jpg") %>
          </li>
          <li class="col-md-2 col-sm-2 col-xs-4">
            <%= image_tag("awards/award3.jpg") %>
          </li>
          <li class="col-md-2 col-sm-2 col-xs-4">
            <%= image_tag("awards/award4.jpg") %>
          </li>
          <li class="col-md-2 col-sm-2 col-xs-4">
            <%= image_tag("awards/award5.jpg") %>
          </li>
          <li class="col-md-2 col-sm-2 col-xs-4">
            <%= image_tag("awards/award6.jpg") %>
          </li>
        </ul><!--//slides-->
      </div><!--//item-->

      <div class="item">
        <ul class="logos">
          <li class="col-md-2 col-sm-2 col-xs-4">
            <%= image_tag("awards/award7.jpg") %>
          </li>
          <li class="col-md-2 col-sm-2 col-xs-4">
            <%= image_tag("awards/award6.jpg") %>
          </li>
          <li class="col-md-2 col-sm-2 col-xs-4">
            <%= image_tag("awards/award5.jpg") %>
          </li>
          <li class="col-md-2 col-sm-2 col-xs-4">
            <%= image_tag("awards/award4.jpg") %>
          </li>
          <li class="col-md-2 col-sm-2 col-xs-4">
            <%= image_tag("awards/award3.jpg") %>
          </li>
          <li class="col-md-2 col-sm-2 col-xs-4">
            <%= image_tag("awards/award2.jpg") %>
          </li>
        </ul><!--//slides-->
      </div><!--//item-->
    </div><!--//carousel-inner-->
    <a class="left carousel-control" href="#awards-carousel" data-slide="prev">
      <i class="fa fa-angle-left"></i>
    </a>
    <a class="right carousel-control" href="#awards-carousel" data-slide="next">
      <i class="fa fa-angle-right"></i>
    </a>

  </div>
</section>
